#parks-button {
    float: right;
    margin-top: 20px;
}

.body-content {
    margin-top: 20px !important;
}

/* Datatables Overrides */
.sorting,
.sorting_asc,
.sorting_desc {
    background-color: #213838;
    color: #fdf9d0;
}

#parks-table_wrapper {
    width: 100%;
    margin-top: 2%;
}

#parks-table {
    font-family: 'Bitter', serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
    width: 100%;
}

.dataTables_length {
    font-family: 'Bitter', serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dataTables_filter {
    font-family: 'Bitter', serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    .dataTables_filter input {
        font-size: 14px;
        outline: none;
        box-shadow: none;
    }

        .dataTables_filter input:focus {
            box-shadow: 0 0 3pt 2pt #213838;
        }

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    padding-bottom: 11px;
    padding-left: 21px;
    font-family: 'Bitter', serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

select {
    border-radius: 6px;
    outline: none;
}

.custom-select:focus {
    border-color: darkkhaki;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #bdb76b;
    box-shadow: 0 0 0 0.2rem rgba(189, 183, 107, .5);
}

.custom-select > option:hover {
    background-color: #213838 !important;
    color: khaki;
}

.selected {
    background-color: #ede9ce !important;
    color: #041908 !important;
}

.selected .table-link:visited {
    color: forestgreen !important;
}

table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
    color: #117cb1 !important;
}

.table-link:visited {
    color: forestgreen !important;
}

.pagination > .active > a {
    background-color: #213838 !important;
    border-color: #213838 !important;
    color: #e7e93e !important;
}

    .pagination > .active > a:focus {
        background-color: #041908 !important;
        border-color: #041908 !important;
        color: #e7e93e !important;
    }

        .pagination > .active > a:focus:active {
            border-color: #213838 !important;
        }


.pagination > li > a:focus {
    border-color: #213838 !important;
    outline-color: #213838 !important;
}


.pagination > .active > a:hover {
    background-color: darkkhaki !important;
    color: #213838 !important;
    border-color: #041908 !important;
}

.pagination > li > a {
    color: #213838 !important;
}

    .pagination > li > a:hover {
        border-color: #213838 !important;
        color: #213838 !important;
    }

    .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
        color: #213838 !important;
        border-color: #213838 !important;
    }

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #bdb76b;
    box-shadow: 0 0 0 0.2rem rgba(189, 183, 107, .5);
}
