.explore hr {
    border-color: #213838;
}

.explore h2 {
    font-size: 36px;
    text-align: right;
    text-decoration: underline;
}
.explore h3 {
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: 1px;
    color: #213838;
}

.explore h4 {
    font-weight: 700;
}

.explore .address {
    text-align: center;
}

.explore .indented-li {
    margin-left: 16px;
}

.explore .indented-li a:visited {
    color: forestgreen;
}

.header-label {
    font-size: large;
    color: #213838;
}

.explore .search-button {
    margin-top: 4px;
    position: relative;
}

.explore .states-box {
    width: 25%;
    font-size: large;
    padding-top: 13px;
    padding-bottom: 13px;
}

.search-results {
    height: auto;
    background-color: #efefef;
    border: none;
    box-shadow: none;
    font-family: 'Bitter', serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.button-div {
    margin-right: 12px;
}

.match {
    color: khaki;
    background-color: #213838;
    list-style: none;
    border: none;
    outline: none;
    width: 25%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.result {
    border-bottom-style: inset;
    border-bottom-color: #e2e2e2;
}

.match:hover {
    color: darkkhaki;
    background-color: #041908;
}

.match:active {
    background-color: darkkhaki !important;
    color: #041908 !important;
}

#autocomplete {
    width: 25%;
}

.autocomplete-active {
    background-color: darkkhaki !important;
    color: #041908 !important;
}

.autocomplete-active:hover {
    background-color: #bdb76b;
}