@using ParksService.ViewModels
@model IEnumerable<ParkViewModel>

@{
    ViewData["Title"] = "About the NPS";
}

<head>
    <link rel="stylesheet" href="~/css/AboutPageStyle.css" />
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">National Park Service</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Welcome <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Explore">Explore</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Directory">Directory</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <div id="about-panel">
        <div class="labels container-fluid col-md-4 col-lg-2">
            <button id="about-button" data-toggle-id="about" class="btn btn-info btn-lg btn-block row">About the NPS</button>
            <button id="mission-button" data-toggle-id="mission" class="btn btn-info btn-lg btn-block row">The Mission</button>
            <button id="emblem-button" data-toggle-id="emblem" class="btn btn-info btn-lg btn-block row">The Emblem</button>
        </div>

        <div id="frosted-pane" class="outer">
            <div class="landing-page inner">
                <h4>
                    Welcome to my page for the National Park Service
                </h4>
                <p>
                    This site is not affiliated with the NPS; it is just a project from a fan of our national parks.
                </p>
                <p>
                    As you may have noticed, this page does not utilize a full list of the nation's parks.
                </p>
                <p>
                    The data that I am using has been made publicly available through the NPS API.
                </p>
                <p>
                    This is not meant to be an exhaustive directory for the NPS.
                </p>
                <p>
                    Rather, it is a way for me to show and improve what I know about C#, MVC, JS, jQuery, HTML and CSS.
                </p>
                <br />
                <p>
                    <a href="https://github.com/OsosKP" target="_blank">GitHub</a>
                </p>
                <p>
                    <a href="https://www.linkedin.com/in/kelseyosos/" target="_blank">LinkedIn</a>
                </p>
                <p>
                    <a href="mailto:ososkp@gmail.com" target="_blank">Email: ososkp@gmail.com</a>
                </p>
            </div>

            <div id="about-intro" data-toggle-id="about" class="inner">
                <h1>About</h1>
                <hr />
                <p>
                    Since 1916, the National Park Service has been entrusted with the care of our national parks.
                    With the help of volunteers and partners, we safeguard these special places and share their
                    stories with more than 275 million visitors every year. But our work doesn't stop there.
                </p>
                <p>
                    We are proud that tribes, local governments, nonprofit organizations, businesses, and
                    individual citizens ask for our help in revitalizing their communities, preserving local
                    history, celebrating local heritage, and creating close to home opportunities for kids and
                    families to get outside, be active, and have fun.
                </p>
                <h4>
                    Taking care of the national parks and helping Americans take care of their communities
                    is a job we love, and we need—and welcome—your help and support.
                </h4>
            </div>
            <div id="about-mission" data-toggle-id="mission" class="inner">
                <h1>Mission</h1>
                <hr />
                <p>
                    The National Park Service preserves unimpaired the natural and cultural resources and
                    values of the National Park System for the enjoyment, education, and inspiration of
                    this and future generations. The Park Service cooperates with partners to extend the
                    benefits of natural and cultural resource conservation and outdoor recreation throughout this country and the world.
                </p>
            </div>
            <div id="about-emblem" data-toggle-id="emblem" class="inner">
                <h1>Emblem</h1>
                <hr />
                <img src="~/images/nps-arrowhead.png" id="arrowhead" />
                <p>
                    The National Park Service arrowhead was authorized as our official emblem in 1951.
                    The components of the arrowhead may have been inspired by key attributes of the National
                    Park System, with the sequoia tree and bison representing vegetation and wildlife, the
                    mountains and water representing scenic and recreational values, and the arrowhead itself
                    representing historical and archeological values. A history of the arrowhead and other elements
                    of NPS visual design is available.
                </p>
                <br /><br /><br />
                <br /><br /><br />
                <p>
                    The arrowhead is also the registered service mark of the agency
                    (number 4706627), protected by the trademark laws of the United States. The NPS allows limited use
                    of the NPS arrowhead when doing so contributes to our work.
                </p>
            </div>
        </div>

    </div>
</body>

@section scripts{
    <script>
        $(document).ready(function() {
            attachEventToButtons();
        });

        var attachEventToButtons = function() {

            $(".btn-info").on("click",
                function() {
                    let attr = $(this).attr("data-toggle-id");
                    let div = $(`div[data-toggle-id=${attr}]`);
                    if (div.length) {
                        let items = $("div.inner").not(`#${div[0].id}`);
                        items.slideUp(150);
                    }

                    div.is(":visible") ? div.slideUp(150) : div.slideDown(250);
                });
        };
    </script>
}