@{
    ViewData["Title"] = "Park Directory";
}

<head>
    <title>NPS Directory</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/DirectoryPageStyle.css" />
    <link rel="stylesheet" href="~/css/ViewDetailsModalStyle.css" />
</head>

<div class="container body-content">
    <!-- <button id="parks-button" class="btn btn-primary btn-sm" type="button">Refresh Parks List</button> -->
    <br />
    <br />
    <div class="row">
        <table id="parks-table" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>State</td>
                    <td>Designation</td>
                    <td>Map</td>
                    <td>Website</td>
                    <td>Details</td>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts {
    <script type="module" src="~/Scripts/Helpers/APIKeys.js" ></script>
    <script type="text/javascript" src="~/Scripts/Helpers/BootBoxHelper.js"></script>
    <script type="text/javascript" src="~/Scripts/Helpers/MapOnGoogle.js"></script>
    <script type="module" src="~/Scripts/DirectoryScripts.js"></script>

}